/bin/
.DS_Store
/examples/
subsample_*.fasta
*.nin
*.nsq
*.nhr
*.out
*.summary
*.pdf
*.png
*.tdf
*.xls
*.xlsx
*.ods
*.gz
*.fa
*.fasta
*.cegma
*.err
/greptest/
/.classpath
/.project
/all.POWC.err
/checklist-for-sequencing
/md
/nanocall.err
/sum_blast.test.tdf
